.block-group {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 3px 5px 5px black;
  border-radius: 2px;
  width: 10em;
  height: 8em;
}

.block-group>*{
  flex: auto;
}
.facility-schedule {
  display: flex;
  border-style: solid;
}
.schedule-timeline {
  flex-direction: column;
  flex-wrap: wrap;
  border-style: solid;
}

.schedule-timeline > ul > li {
  list-style:none;
}

.schedule-place-facility {
  border-style: solid;
  flex-direction: row;
}

.schedule-group > ul {
  position: relative;
  padding: 0 var(--component-padding);
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.schedule-event {
  flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
}

.cd-schedule-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform .4s, visibility .4s;
}

.cd-schedule-modal--open { 
  transform: translateX(0);
  visibility: visible;
}

