.block-group {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 3px 5px 5px black;
  border-radius: 2px;
  width: 10em;
  height: 8em;
}

.block-group>*{
  flex: auto;
}
.schedule-heading {
  grid-area: heading;
  grid-row: heading;
}

.facility-schedule {
  display: grid;
  grid-area: schedule;
  grid-template-rows:
    [areas] auto
    [time-0900] 1fr
    [time-0930] 1fr
    [time-1000] 1fr
    [time-1030] 1fr;
    /* etc...
        Note: Use 24-hour time for line names */
  grid-template-columns:
    [times] 4em
    [area-1-start] 1fr
    [area-1-end area-2-start] 1fr
    [area-2-end area-3-start] 1fr
    [area-3-end area-4-start] 1fr
    [area-4-end];
}

.area-slot {
  grid-row: areas;
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255,255,255,.9);
}

.time-slot {
  grid-column: times;
}

.session {
  border: solid;
}

.session-1 {
  grid-row: time-0900 / time-0930;
  grid-column: area-1;
}

.session-2 {
  grid-row: time-0930 / time-1000;
  grid-column: area-1;
}

.session-3 {
  grid-row: time-0930 / time-1000;
  grid-column: area-2;
}

.session-4 {
  grid-row: time-1000 / time-1100;
  grid-column: area-2;
}

.area-1 {
  background-color: #1259B2;
  color: #fff;
}

.area-2 {
  background-color: #687f00;
  color: #fff;
}


