.block-group {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 3px 5px 5px black;
  border-radius: 2px;
  width: 10em;
  height: 8em;
}

.block-group>*{
  flex: auto;
}
.schedule-heading {
  grid-area: heading;
  grid-row: heading;
}

.facility-schedule {
  display: grid;
  grid-area: schedule;
  grid-template-rows:
    [places] auto
    [time-0900] 1fr
    [time-0915] 1fr
    [time-0930] 1fr
    [time-0945] 1fr
    [time-1000] 1fr
    [time-1015] 1fr
    [time-1030] 1fr
    [time-1045] 1fr
    [time-1100] 1fr;
    /* etc...
        Note: Use 24-hour time for line names */
  grid-template-columns:
    [times] 4em
    [place-1-start] 1fr
    [place-1-end place-2-start] 1fr
    [place-2-end place-3-start] 1fr
    [place-3-end place-4-start] 1fr
    [place-4-end];
}

.place-slot {
  grid-row: places;
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255,255,255,.9);
}

.time-slot {
  grid-column: times;
  font-size: small;
}

.session {
  border: solid;
}


.session-2 {
  grid-row: time-0930 / time-1000;
  grid-column: place-1;
}

.session-3 {
  grid-row: time-0930 / time-1000;
  grid-column: place-2;
}

.session-4 {
  grid-row: time-1000 / time-1100;
  grid-column: place-2;
}

.place-1 {
  background-color: #1259B2;
  color: #fff;
}

.place-2 {
  background-color: #687f00;
  color: #fff;
}


